<%= form_with(model: auth,local: true) do |form| %>
  <% if auth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth.errors.count, "error") %> prohibited this auth from being saved:</h2>

      <ul>
      <% auth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '保存する' %>
    <%= form.check_box :destination, id: :destination %>
    <%= form.label '保存パス' %>
    <%= form.text_field :save_path, id: :save_path, size: '40',
                        placeholder: auth.save_path %>
  </div>

  <div class="actions">
    <%= form.submit '更新', class: 'btn btn-default' %>
  </div>
<% end %>
