<div class="container">
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
  <% end %>

  <h1><%= @auth.provider %>情報 編集</h1>

  <%= render 'form', auth: @auth %>

  <div class="back-link">
    <%= link_to 'Back', auths_path %>
  </div>
</div>
