<p><%= notice %><%= alert %></p>

<h1>Auths</h1>

<% #controllerでやったほうがいいか？ %>
<% auths = @auths.map{ |auth|
  case auth.provider
  when 'twitter'; [:twitter, auth]
  when 'google'; [:google, auth]
  end
}.to_h %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= 'twitter' %></td>
      <%= render 'auths/info', auth: auths[:twitter], provider: 'twitter'%>
    </tr>
    <tr>
      <td><%= 'google' %></td>
      <%= render 'auths/info', auth: auths[:google], provider: 'google'%>
    </tr>
    <tr>
      <td>
        <%= render 'auths/destination', auth: auths[:google], provider: 'google'%>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to 'Back', users_path %>
