<div class="container">
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
  <% end %>

  <h1>外部連携情報</h1>

  <% #controllerでやったほうがいいか？ %>
  <% auths = @auths.map{ |auth|
    case auth.provider
    when 'twitter'; [:twitter, auth]
    when 'google'; [:google, auth]
    end
  }.to_h %>

  <div class="row">
    <div class="auth twitter-auth">
      <div class="label label-default">
        twitter
      </div>
      <div class="auth-body">
        <ul>
          <li class='col-md-6'>
          </li>
          <li class='col-md-3'>
            <%= render 'auths/info', auth: auths[:twitter], provider: 'twitter'%>
          </li>
        </ul>
      </div>
    </div>

    <div class="auth google-auth">
      <div class="label label-default">
        google
      </div>
      <div class="auth-body">
        <ul>
          <li class='col-md-6'>
            <%= render 'auths/destination', auth: auths[:google], provider: 'google'%>
          </li>
          <li class='col-md-3'>
            <%= render 'auths/info', auth: auths[:google], provider: 'google'%>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="back-link">
    <%#= link_to 'Back', users_path %>
  </div>
</div>
